.userName,
.userLogin,
.userPassword {
    font-size: 24px;
    line-height: 32px;
    color: #000000;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 40px;
    padding-bottom: 75px;
}

.title {
    font-size: 48px;
    line-height: 56px;
    color: #000000;
}

.user {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.buttons {
    display: flex;
    flex-direction: column;
    row-gap: 14px;
}

.textChangeData {
    margin-top: 38px;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.05px;
}
