.courses {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.course {
    position: relative;
    width: 360px;
    height: 480px;
}

.courseName {
    position: absolute;
    top: 60px;
    left: 60px;
    font-size: 36px;
    font-weight: 800;
    line-height: normal;
}

.courseBtn {
    position: absolute;
    left: 60px;
    bottom: 30px;
    border-radius: 80px;
    background-color: #c7e957;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    cursor: pointer;
}
