.btn {
    width: 275px;
    height: 52px;
    border: none;
    border-radius: 46px;
    background: #580ea2;
    color: #ffffff;
    font-size: 18px;
    line-height: 24px;
}

.btn:hover {
    background: #3F007D;

}

.btn:active {
    background: #271A58;

}

.loginBtn {
    border-radius: 46px;
    background: #140d40;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    padding: 5px 16px 7px;
}

.loginBtn:hover {
    background: #2d1f79;
}

.loginBtn:active {
    background: #3b29a1;
}
