.header {
    display: flex;
    flex-direction: column;
    gap: 75px;
}
.title {
    color: #000;
    font-variant-numeric: lining-nums proportional-nums;
    font-family: StratosSkyeng;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: 72px; /* 112.5% */
    letter-spacing: -0.8px;
    position: absolute;
    padding-left: 30px;
    padding-top: 30px;
}

@media (max-width: 1356px) {
    .title {
        font-size: 55px;
    }
}

@media (max-width: 1145px) {
    .title {
        font-size: 40px;
    }
}
