.loginButton {
    border-radius: 46px;
    background: #140d40;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    padding: 6px 16px;
    min-height: 24px;
    min-width: 45px;
}
.loginButton:hover {
    background: #2d1f79;
}
.loginButton:active {
    background: #3b29a1;
}
