.courses {
    /* display: grid;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr)); */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}

.course {
    position: relative;
    max-width: 360px;
    max-height: 480px;
    border-radius: 30px;
    transition: 0.5s;
    box-shadow:
        0 14px 28px rgba(0, 0, 0, 0.25),
        0 10px 10px rgba(0, 0, 0, 0.22);
}

.course:hover {
    transform: scale(1.05);
}

.courseName {
    position: absolute;
    top: 30px;
    left: 30px;
    font-size: 36px;
    font-weight: 600;
    line-height: normal;
    color: #000;
}

.btnWrapper {
    position: absolute;
    left: 30px;
    bottom: 30px;
}

.courseImg {
    width: 100%;
    height: 100%;
}

@media (min-width: 768px) and (max-width: 1024px) {
    .course {
        width: 300px;
        transition: 0.2s;
    }

    .courseName {
        font-size: 30px;
    }
}

@media (min-width: 320px) and (max-width: 767px) {
    .courses {
        gap: 20px;
    }

    .course {
        width: 250px;
        transition: 0.2s;
    }

    .courseName {
        font-size: 24px;
    }
}
